@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "variables.less";

body {
  text-rendering: optimizeLegibility;
  position: relative;
}

.jumbotron {
  font-family: Calligraffitti, sans-serif;
  background-image: url("../trinities.jpg");
  background-size: cover;
  .box-shadow(0 3px 10px rgba(0,0,0,0.4));

  a, a:hover, small {
    color: #fff;
    text-decoration: none;
  }
  small {
    font-size: 30%;
  }
}


sidebar {
  ul.nav {
    background-image: url("../sunflower.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    padding-bottom: 250px;
    min-width: 200px;

    a, a:hover {
      color: @text-color;
    }
    a:hover {
      background: none;
      text-decoration: underline;
    }
  }

  .affix {
    top: 80px;
  }

  .active {
    font-weight: bold;
    border-left: 2px solid @brand-warning;
    margin-left: -2px;
  }
}

content h1 {
  .page-header;
}

footer {
  margin-top: 120px;
  .text-center;
}

#overview-map {
  .land {
    fill: #222;
  }
}
