@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "variables.less";

body {
  text-rendering: optimizeLegibility;
  position: relative;
}

sidebar {
  a, a:hover {
    color: @text-color;
  }

  .affix {
    top: 80px;
  }

  .active {
    font-weight: bold;
    border-left: 2px solid @brand-primary;
    margin-left: -2px;
  }
}

content h1 {
  .page-header;
}

footer {
  margin-top: 120px;
  .text-center;
}

#sunflower {
  background-image: url("../sunflower.png");
  background-repeat: no-repeat;
  width: 200px;
  height: 249px;
  position: fixed;
  bottom: 0;
  left: 0;
}

#overview-map {
  .land {
    fill: #222;
  }
}
