extends ./layout.jade

block nav
  nav.navbar.navbar-default.navbar-fixed-bottom.visible-xs-block(role="navigation")
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#") Kelly &amp; Pete
      #navbar-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown") The Location
              span.caret
            ul.dropdown-menu(role="menu")
              li: a(href="#the-location") The Location
              li: a(href="#getting-there") Getting There
              li: a(href="#accommodations") Accommodations
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown") The Schedule
              span.caret
            ul.dropdown-menu(role="menu")
              li: a(href="#the-schedule") The Schedule
              li: a(href="#meals") Meals
          li: a(href="#things-to-do") Things to Do

block content
  .row
    sidebar.col-sm-4.hidden-xs
      ul.nav(data-spy="affix", data-offset-top="200", data-offset-bottom="200")
        li
          a(href="#the-location") The Location
          ul.nav
            li: a(href="#getting-there") Getting There
            li: a(href="#accommodations") Accommodations
        li
          a(href="#the-schedule") The Schedule
          ul.nav
            li: a(href="#meals") Meals
        li: a(href="#things-to-do") Things to Do
    

    content.col-sm-8.col-xs-12
      != typogr(page.html).typogrify()

